
<div *ngIf="clarifais">
    <h2><span jhiTranslate="gateApp.clarifais.detail.title">Clarifais</span> {{clarifais.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gateApp.clarifais.name">Name</span></dt>
        <dd>
            <span>{{clarifais.name}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.clarifais.email">Email</span></dt>
        <dd>
            <span>{{clarifais.email}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.clarifais.emailpassword">Emailpassword</span></dt>
        <dd>
            <span>{{clarifais.emailpassword}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.clarifais.apikey">Apikey</span></dt>
        <dd>
            <span>{{clarifais.apikey}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.clarifais.modelname">Modelname</span></dt>
        <dd>
            <span>{{clarifais.modelname}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.clarifais.country">Country</span></dt>
        <dd>
            <span>{{clarifais.country}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.clarifais.billday">Billday</span></dt>
        <dd>
            <span>{{clarifais.billday}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.clarifais.totalusage">Totalusage</span></dt>
        <dd>
            <span>{{clarifais.totalusage}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.clarifais.count">Count</span></dt>
        <dd>
            <span>{{clarifais.count}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'clarifais-my-suffix/'+ clarifais.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
