<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="otherWorks">
            <h2><span jhiTranslate="gateApp.pondOtherWorks.detail.title">Other Works</span> {{otherWorks.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gateApp.pondOtherWorks.date">Date</span></dt>
                <dd>
                    <span>{{otherWorks.date}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondOtherWorks.reason">Reason</span></dt>
                <dd>
                    <span>{{otherWorks.reason}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondOtherWorks.qty">Qty</span></dt>
                <dd>
                    <span>{{otherWorks.qty}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondOtherWorks.descripton">Descripton</span></dt>
                <dd>
                    <span>{{otherWorks.descripton}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondOtherWorks.tempVal">Temp Val</span></dt>
                <dd>
                    <span>{{otherWorks.tempVal}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondOtherWorks.timestamp">Timestamp</span></dt>
                <dd>
                    <span>{{otherWorks.timestamp}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/other-works-my-suffix', otherWorks.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
