
<div *ngIf="waterChange">
    <h2><span jhiTranslate="gateApp.waterChange.detail.title">Water Change</span> {{waterChange.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gateApp.waterChange.changeDate">Change Date</span></dt>
        <dd>
            <span>{{waterChange.changeDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.waterChange.description">Description</span></dt>
        <dd>
            <span>{{waterChange.description}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.waterChange.readingBefore">Reading Before</span></dt>
        <dd>
            <span>{{waterChange.readingBefore}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.waterChange.readingAfter">Reading After</span></dt>
        <dd>
            <span>{{waterChange.readingAfter}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.waterChange.tempVal">Temp Val</span></dt>
        <dd>
            <span>{{waterChange.tempVal}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.waterChange.timestamp">Timestamp</span></dt>
        <dd>
            <span>{{waterChange.timestamp}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'water-change-my-suffix/'+ waterChange.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
