<div>
    <h2 id="page-heading">
        <span jhiTranslate="gateApp.vkbotClarifaiProcess.home.title">Clarifai Processes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-clarifai-process-my-suffix" [routerLink]="['/clarifai-process-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gateApp.vkbotClarifaiProcess.home.createLabel">
            Create new Clarifai Process
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gateApp.vkbotClarifaiProcess.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clarifaiProcesses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gateApp.vkbotClarifaiProcess.pictid">Pictid</span></th>
            <th><span jhiTranslate="gateApp.vkbotClarifaiProcess.pictkey">Pictkey</span></th>
            <th><span jhiTranslate="gateApp.vkbotClarifaiProcess.url">Url</span></th>
            <th><span jhiTranslate="gateApp.vkbotClarifaiProcess.firstfive">Firstfive</span></th>
            <th><span jhiTranslate="gateApp.vkbotClarifaiProcess.ignore">Ignore</span></th>
            <th><span jhiTranslate="gateApp.vkbotClarifaiProcess.proc">Proc</span></th>
            <th><span jhiTranslate="gateApp.vkbotClarifaiProcess.model">Model</span></th>
            <th><span jhiTranslate="gateApp.vkbotClarifaiProcess.rawdata">Rawdata</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clarifaiProcess of clarifaiProcesses ;trackBy: trackId">
                <td><a [routerLink]="['/clarifai-process-my-suffix', clarifaiProcess.id, 'view' ]">{{clarifaiProcess.id}}</a></td>
                <td>{{clarifaiProcess.pictid}}</td>
                <td>{{clarifaiProcess.pictkey}}</td>
                <td>{{clarifaiProcess.url}}</td>
                <td>{{clarifaiProcess.firstfive}}</td>
                <td>{{clarifaiProcess.ignore}}</td>
                <td>{{clarifaiProcess.proc}}</td>
                <td>{{clarifaiProcess.model}}</td>
                <td>{{clarifaiProcess.rawdata}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/clarifai-process-my-suffix', clarifaiProcess.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/clarifai-process-my-suffix', clarifaiProcess.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'clarifai-process-my-suffix/'+ clarifaiProcess.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
