
<div *ngIf="tempMeter">
    <h2><span jhiTranslate="gateApp.tempMeter.detail.title">Temp Meter</span> {{tempMeter.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gateApp.tempMeter.readingDate">Reading Date</span></dt>
        <dd>
            <span>{{tempMeter.readingDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.tempMeter.tempVal">Temp Val</span></dt>
        <dd>
            <span>{{tempMeter.tempVal}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.tempMeter.timestamp">Timestamp</span></dt>
        <dd>
            <span>{{tempMeter.timestamp}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'temp-meter-my-suffix/'+ tempMeter.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
