<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-live-stock-my-suffix-heading" jhiTranslate="gateApp.pondLiveStock.home.createOrEditLabel">Create or edit a Live Stock</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!liveStock.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="liveStock.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondLiveStock.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="date"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.date?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondLiveStock.reason" for="field_reason">Reason</label>
                    <select class="form-control" name="reason" [(ngModel)]="liveStock.reason" id="field_reason" >
                        <option value="ADDED">{{'gateApp.StockCase.ADDED' | translate}}</option>
                        <option value="REMOVED">{{'gateApp.StockCase.REMOVED' | translate}}</option>
                        <option value="DIED">{{'gateApp.StockCase.DIED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondLiveStock.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="liveStock.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondLiveStock.qty" for="field_qty">Qty</label>
                    <input type="number" class="form-control" name="qty" id="field_qty"
                        [(ngModel)]="liveStock.qty" required/>
                    <div [hidden]="!(editForm.controls.qty?.dirty && editForm.controls.qty?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.qty?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.qty?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondLiveStock.tempVal" for="field_tempVal">Temp Val</label>
                    <input type="number" class="form-control" name="tempVal" id="field_tempVal"
                        [(ngModel)]="liveStock.tempVal" required/>
                    <div [hidden]="!(editForm.controls.tempVal?.dirty && editForm.controls.tempVal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tempVal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.tempVal?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondLiveStock.timestamp" for="field_timestamp">Timestamp</label>
                    <input type="number" class="form-control" name="timestamp" id="field_timestamp"
                        [(ngModel)]="liveStock.timestamp" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
