<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chemicals">
            <h2><span jhiTranslate="gateApp.pondChemicals.detail.title">Chemicals</span> {{chemicals.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gateApp.pondChemicals.date">Date</span></dt>
                <dd>
                    <span>{{chemicals.date}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondChemicals.qty">Qty</span></dt>
                <dd>
                    <span>{{chemicals.qty}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondChemicals.reason">Reason</span></dt>
                <dd>
                    <span>{{chemicals.reason}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondChemicals.tempVal">Temp Val</span></dt>
                <dd>
                    <span>{{chemicals.tempVal}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondChemicals.timestamp">Timestamp</span></dt>
                <dd>
                    <span>{{chemicals.timestamp}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chemicals-my-suffix', chemicals.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
