<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="filterPumpCleaning">
            <h2><span jhiTranslate="gateApp.pondFilterPumpCleaning.detail.title">Filter Pump Cleaning</span> {{filterPumpCleaning.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gateApp.pondFilterPumpCleaning.cleaningDate">Cleaning Date</span></dt>
                <dd>
                    <span>{{filterPumpCleaning.cleaningDate}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondFilterPumpCleaning.description">Description</span></dt>
                <dd>
                    <span>{{filterPumpCleaning.description}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondFilterPumpCleaning.tempVal">Temp Val</span></dt>
                <dd>
                    <span>{{filterPumpCleaning.tempVal}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondFilterPumpCleaning.timestamp">Timestamp</span></dt>
                <dd>
                    <span>{{filterPumpCleaning.timestamp}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/filter-pump-cleaning-my-suffix', filterPumpCleaning.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
