
<div *ngIf="chemicals">
    <h2><span jhiTranslate="gateApp.chemicals.detail.title">Chemicals</span> {{chemicals.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gateApp.chemicals.date">Date</span></dt>
        <dd>
            <span>{{chemicals.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.chemicals.qty">Qty</span></dt>
        <dd>
            <span>{{chemicals.qty}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.chemicals.reason">Reason</span></dt>
        <dd>
            <span>{{chemicals.reason}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.chemicals.tempVal">Temp Val</span></dt>
        <dd>
            <span>{{chemicals.tempVal}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.chemicals.timestamp">Timestamp</span></dt>
        <dd>
            <span>{{chemicals.timestamp}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'chemicals-my-suffix/'+ chemicals.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
