<div>
    <h2>
        <span jhiTranslate="gateApp.chemicals.home.title">Chemicals</span>
        <button class="btn btn-primary float-right jh-create-entity create-chemicals-my-suffix" [routerLink]="['/', { outlets: { popup: ['chemicals-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gateApp.chemicals.home.createLabel">
            Create new Chemicals
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="chemicals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="gateApp.chemicals.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="qty"><span jhiTranslate="gateApp.chemicals.qty">Qty</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reason"><span jhiTranslate="gateApp.chemicals.reason">Reason</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tempVal"><span jhiTranslate="gateApp.chemicals.tempVal">Temp Val</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timestamp"><span jhiTranslate="gateApp.chemicals.timestamp">Timestamp</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chemicals of chemicals ;trackBy: trackId">
                <td><a [routerLink]="['../chemicals-my-suffix', chemicals.id ]">{{chemicals.id}}</a></td>
                <td>{{chemicals.date | date:'medium'}}</td>
                <td>{{chemicals.qty}}</td>
                <td>{{chemicals.reason}}</td>
                <td>{{chemicals.tempVal}}</td>
                <td>{{chemicals.timestamp}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../chemicals-my-suffix', chemicals.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chemicals-my-suffix/'+ chemicals.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chemicals-my-suffix/'+ chemicals.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="chemicals && chemicals.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
