<div>
    <h2 id="page-heading">
        <span jhiTranslate="gateApp.pondChemicalAnalysis.home.title">Chemical Analyses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chemical-analysis-my-suffix" [routerLink]="['/chemical-analysis-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gateApp.pondChemicalAnalysis.home.createLabel">
            Create new Chemical Analysis
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gateApp.pondChemicalAnalysis.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="chemicalAnalyses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="gateApp.pondChemicalAnalysis.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nO2"><span jhiTranslate="gateApp.pondChemicalAnalysis.nO2">N O 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nO3"><span jhiTranslate="gateApp.pondChemicalAnalysis.nO3">N O 3</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nH4"><span jhiTranslate="gateApp.pondChemicalAnalysis.nH4">N H 4</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ph"><span jhiTranslate="gateApp.pondChemicalAnalysis.ph">Ph</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tempVal"><span jhiTranslate="gateApp.pondChemicalAnalysis.tempVal">Temp Val</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="timestamp"><span jhiTranslate="gateApp.pondChemicalAnalysis.timestamp">Timestamp</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chemicalAnalysis of chemicalAnalyses ;trackBy: trackId">
                <td><a [routerLink]="['/chemical-analysis-my-suffix', chemicalAnalysis.id, 'view' ]">{{chemicalAnalysis.id}}</a></td>
                <td>{{chemicalAnalysis.date | date:'medium'}}</td>
                <td>{{chemicalAnalysis.nO2}}</td>
                <td>{{chemicalAnalysis.nO3}}</td>
                <td>{{chemicalAnalysis.nH4}}</td>
                <td>{{chemicalAnalysis.ph}}</td>
                <td>{{chemicalAnalysis.tempVal}}</td>
                <td>{{chemicalAnalysis.timestamp}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/chemical-analysis-my-suffix', chemicalAnalysis.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chemical-analysis-my-suffix', chemicalAnalysis.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chemical-analysis-my-suffix/'+ chemicalAnalysis.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="chemicalAnalyses && chemicalAnalyses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
