<div>
    <h2 id="page-heading">
        <span jhiTranslate="gateApp.vkbotTrainedModel.home.title">Trained Models</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-trained-model-my-suffix" [routerLink]="['/trained-model-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gateApp.vkbotTrainedModel.home.createLabel">
            Create new Trained Model
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gateApp.vkbotTrainedModel.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="trainedModels">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modelName"><span jhiTranslate="gateApp.vkbotTrainedModel.modelName">Model Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="posmatrix"><span jhiTranslate="gateApp.vkbotTrainedModel.posmatrix">Posmatrix</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="negmatrix"><span jhiTranslate="gateApp.vkbotTrainedModel.negmatrix">Negmatrix</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="neutmatrix"><span jhiTranslate="gateApp.vkbotTrainedModel.neutmatrix">Neutmatrix</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modeltype"><span jhiTranslate="gateApp.vkbotTrainedModel.modeltype">Modeltype</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trainedModel of trainedModels ;trackBy: trackId">
                <td><a [routerLink]="['/trained-model-my-suffix', trainedModel.id, 'view' ]">{{trainedModel.id}}</a></td>
                <td>{{trainedModel.modelName}}</td>
                <td>{{trainedModel.posmatrix}}</td>
                <td>{{trainedModel.negmatrix}}</td>
                <td>{{trainedModel.neutmatrix}}</td>
                <td>{{trainedModel.modeltype}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/trained-model-my-suffix', trainedModel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/trained-model-my-suffix', trainedModel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trained-model-my-suffix/'+ trainedModel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="trainedModels && trainedModels.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
