<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-water-change-my-suffix-heading" jhiTranslate="gateApp.pondWaterChange.home.createOrEditLabel">Create or edit a Water Change</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!waterChange.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="waterChange.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondWaterChange.changeDate" for="field_changeDate">Change Date</label>
                    <div class="d-flex">
                        <input id="field_changeDate" type="datetime-local" class="form-control" name="changeDate" [(ngModel)]="changeDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.changeDate?.dirty && editForm.controls.changeDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.changeDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.changeDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondWaterChange.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="waterChange.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondWaterChange.readingBefore" for="field_readingBefore">Reading Before</label>
                    <input type="number" class="form-control" name="readingBefore" id="field_readingBefore"
                        [(ngModel)]="waterChange.readingBefore" required/>
                    <div [hidden]="!(editForm.controls.readingBefore?.dirty && editForm.controls.readingBefore?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.readingBefore?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.readingBefore?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondWaterChange.readingAfter" for="field_readingAfter">Reading After</label>
                    <input type="number" class="form-control" name="readingAfter" id="field_readingAfter"
                        [(ngModel)]="waterChange.readingAfter" required/>
                    <div [hidden]="!(editForm.controls.readingAfter?.dirty && editForm.controls.readingAfter?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.readingAfter?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.readingAfter?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondWaterChange.tempVal" for="field_tempVal">Temp Val</label>
                    <input type="number" class="form-control" name="tempVal" id="field_tempVal"
                        [(ngModel)]="waterChange.tempVal" required/>
                    <div [hidden]="!(editForm.controls.tempVal?.dirty && editForm.controls.tempVal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tempVal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.tempVal?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondWaterChange.timestamp" for="field_timestamp">Timestamp</label>
                    <input type="number" class="form-control" name="timestamp" id="field_timestamp"
                        [(ngModel)]="waterChange.timestamp" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
