
<div *ngIf="vkGroup">
    <h2><span jhiTranslate="gateApp.vkGroup.detail.title">Vk Group</span> {{vkGroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gateApp.vkGroup.groupid">Groupid</span></dt>
        <dd>
            <span>{{vkGroup.groupid}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.vkGroup.name">Name</span></dt>
        <dd>
            <span>{{vkGroup.name}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.vkGroup.screenname">Screenname</span></dt>
        <dd>
            <span>{{vkGroup.screenname}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.vkGroup.type">Type</span></dt>
        <dd>
            <span>{{vkGroup.type}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.vkGroup.isclosed">Isclosed</span></dt>
        <dd>
            <span>{{vkGroup.isclosed}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.vkGroup.proc">Proc</span></dt>
        <dd>
            <span>{{vkGroup.proc}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.vkGroup.procusers">Procusers</span></dt>
        <dd>
            <span>{{vkGroup.procusers}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.vkGroup.usersqty">Usersqty</span></dt>
        <dd>
            <span>{{vkGroup.usersqty}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.vkGroup.usersadded">Usersadded</span></dt>
        <dd>
            <span>{{vkGroup.usersadded}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.vkGroup.ignore">Ignore</span></dt>
        <dd>
            <span>{{vkGroup.ignore}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.vkGroup.stateProvince">State Province</span></dt>
        <dd>
            <span>{{vkGroup.stateProvince}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'vk-group-my-suffix/'+ vkGroup.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
