<div>
    <h2>
        <span jhiTranslate="gateApp.vkGroup.home.title">Vk Groups</span>
        <button class="btn btn-primary float-right jh-create-entity create-vk-group-my-suffix" [routerLink]="['/', { outlets: { popup: ['vk-group-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gateApp.vkGroup.home.createLabel">
            Create new Vk Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="vkGroups">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gateApp.vkGroup.groupid">Groupid</span></th>
            <th><span jhiTranslate="gateApp.vkGroup.name">Name</span></th>
            <th><span jhiTranslate="gateApp.vkGroup.screenname">Screenname</span></th>
            <th><span jhiTranslate="gateApp.vkGroup.type">Type</span></th>
            <th><span jhiTranslate="gateApp.vkGroup.isclosed">Isclosed</span></th>
            <th><span jhiTranslate="gateApp.vkGroup.proc">Proc</span></th>
            <th><span jhiTranslate="gateApp.vkGroup.procusers">Procusers</span></th>
            <th><span jhiTranslate="gateApp.vkGroup.usersqty">Usersqty</span></th>
            <th><span jhiTranslate="gateApp.vkGroup.usersadded">Usersadded</span></th>
            <th><span jhiTranslate="gateApp.vkGroup.ignore">Ignore</span></th>
            <th><span jhiTranslate="gateApp.vkGroup.stateProvince">State Province</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vkGroup of vkGroups ;trackBy: trackId">
                <td><a [routerLink]="['../vk-group-my-suffix', vkGroup.id ]">{{vkGroup.id}}</a></td>
                <td>{{vkGroup.groupid}}</td>
                <td>{{vkGroup.name}}</td>
                <td>{{vkGroup.screenname}}</td>
                <td>{{vkGroup.type}}</td>
                <td>{{vkGroup.isclosed}}</td>
                <td>{{vkGroup.proc}}</td>
                <td>{{vkGroup.procusers}}</td>
                <td>{{vkGroup.usersqty}}</td>
                <td>{{vkGroup.usersadded}}</td>
                <td>{{vkGroup.ignore}}</td>
                <td>{{vkGroup.stateProvince}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../vk-group-my-suffix', vkGroup.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vk-group-my-suffix/'+ vkGroup.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vk-group-my-suffix/'+ vkGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
