<div>
    <h2>
        <span jhiTranslate="gateApp.trainedModel.home.title">Trained Models</span>
        <button class="btn btn-primary float-right jh-create-entity create-trained-model-my-suffix" [routerLink]="['/', { outlets: { popup: ['trained-model-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gateApp.trainedModel.home.createLabel">
            Create new Trained Model
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="trainedModels">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modelName"><span jhiTranslate="gateApp.trainedModel.modelName">Model Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="posmatrix"><span jhiTranslate="gateApp.trainedModel.posmatrix">Posmatrix</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="negmatrix"><span jhiTranslate="gateApp.trainedModel.negmatrix">Negmatrix</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="neutmatrix"><span jhiTranslate="gateApp.trainedModel.neutmatrix">Neutmatrix</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modeltype"><span jhiTranslate="gateApp.trainedModel.modeltype">Modeltype</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trainedModel of trainedModels ;trackBy: trackId">
                <td><a [routerLink]="['../trained-model-my-suffix', trainedModel.id ]">{{trainedModel.id}}</a></td>
                <td>{{trainedModel.modelName}}</td>
                <td>{{trainedModel.posmatrix}}</td>
                <td>{{trainedModel.negmatrix}}</td>
                <td>{{trainedModel.neutmatrix}}</td>
                <td>{{trainedModel.modeltype}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../trained-model-my-suffix', trainedModel.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trained-model-my-suffix/'+ trainedModel.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trained-model-my-suffix/'+ trainedModel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="trainedModels && trainedModels.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
