<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTrainedModelLabel" jhiTranslate="gateApp.trainedModel.home.createOrEditLabel">Create or edit a Trained Model</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!trainedModel.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="trainedModel.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.trainedModel.modelName" for="field_modelName">Model Name</label>
            <input type="text" class="form-control" name="modelName" id="field_modelName"
                [(ngModel)]="trainedModel.modelName" required/>
            <div [hidden]="!(editForm.controls.modelName?.dirty && editForm.controls.modelName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.modelName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.trainedModel.posmatrix" for="field_posmatrix">Posmatrix</label>
            <input type="text" class="form-control" name="posmatrix" id="field_posmatrix"
                [(ngModel)]="trainedModel.posmatrix" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.trainedModel.negmatrix" for="field_negmatrix">Negmatrix</label>
            <input type="text" class="form-control" name="negmatrix" id="field_negmatrix"
                [(ngModel)]="trainedModel.negmatrix" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.trainedModel.neutmatrix" for="field_neutmatrix">Neutmatrix</label>
            <input type="text" class="form-control" name="neutmatrix" id="field_neutmatrix"
                [(ngModel)]="trainedModel.neutmatrix" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.trainedModel.modeltype" for="field_modeltype">Modeltype</label>
            <input type="number" class="form-control" name="modeltype" id="field_modeltype"
                [(ngModel)]="trainedModel.modeltype" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
