
<div *ngIf="trainedModel">
    <h2><span jhiTranslate="gateApp.trainedModel.detail.title">Trained Model</span> {{trainedModel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gateApp.trainedModel.modelName">Model Name</span></dt>
        <dd>
            <span>{{trainedModel.modelName}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.trainedModel.posmatrix">Posmatrix</span></dt>
        <dd>
            <span>{{trainedModel.posmatrix}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.trainedModel.negmatrix">Negmatrix</span></dt>
        <dd>
            <span>{{trainedModel.negmatrix}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.trainedModel.neutmatrix">Neutmatrix</span></dt>
        <dd>
            <span>{{trainedModel.neutmatrix}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.trainedModel.modeltype">Modeltype</span></dt>
        <dd>
            <span>{{trainedModel.modeltype}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trained-model-my-suffix/'+ trainedModel.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
