
<div *ngIf="liveStock">
    <h2><span jhiTranslate="gateApp.liveStock.detail.title">Live Stock</span> {{liveStock.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gateApp.liveStock.date">Date</span></dt>
        <dd>
            <span>{{liveStock.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.liveStock.reason">Reason</span></dt>
        <dd>
            <span jhiTranslate="{{'gateApp.StockCase.' + liveStock.reason}}">{{liveStock.reason}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.liveStock.description">Description</span></dt>
        <dd>
            <span>{{liveStock.description}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.liveStock.qty">Qty</span></dt>
        <dd>
            <span>{{liveStock.qty}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.liveStock.tempVal">Temp Val</span></dt>
        <dd>
            <span>{{liveStock.tempVal}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.liveStock.timestamp">Timestamp</span></dt>
        <dd>
            <span>{{liveStock.timestamp}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'live-stock-my-suffix/'+ liveStock.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
