<div>
    <h2>
        <span jhiTranslate="gateApp.liveStock.home.title">Live Stocks</span>
        <button class="btn btn-primary float-right jh-create-entity create-live-stock-my-suffix" [routerLink]="['/', { outlets: { popup: ['live-stock-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gateApp.liveStock.home.createLabel">
            Create new Live Stock
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="liveStocks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="gateApp.liveStock.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reason"><span jhiTranslate="gateApp.liveStock.reason">Reason</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="gateApp.liveStock.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="qty"><span jhiTranslate="gateApp.liveStock.qty">Qty</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tempVal"><span jhiTranslate="gateApp.liveStock.tempVal">Temp Val</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timestamp"><span jhiTranslate="gateApp.liveStock.timestamp">Timestamp</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let liveStock of liveStocks ;trackBy: trackId">
                <td><a [routerLink]="['../live-stock-my-suffix', liveStock.id ]">{{liveStock.id}}</a></td>
                <td>{{liveStock.date | date:'medium'}}</td>
                <td jhiTranslate="{{'gateApp.StockCase.' + liveStock.reason}}">{{liveStock.reason}}</td>
                <td>{{liveStock.description}}</td>
                <td>{{liveStock.qty}}</td>
                <td>{{liveStock.tempVal}}</td>
                <td>{{liveStock.timestamp}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../live-stock-my-suffix', liveStock.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'live-stock-my-suffix/'+ liveStock.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'live-stock-my-suffix/'+ liveStock.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="liveStocks && liveStocks.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
