<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-device-my-suffix-heading" jhiTranslate="gateApp.pondDevice.home.createOrEditLabel">Create or edit a Device</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!device.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="device.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondDevice.deviceName" for="field_deviceName">Device Name</label>
                    <input type="text" class="form-control" name="deviceName" id="field_deviceName"
                        [(ngModel)]="device.deviceName" required/>
                    <div [hidden]="!(editForm.controls.deviceName?.dirty && editForm.controls.deviceName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.deviceName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondDevice.deviceType" for="field_deviceType">Device Type</label>
                    <select class="form-control" name="deviceType" [(ngModel)]="device.deviceType" id="field_deviceType"  required>
                        <option value="PUMP">{{'gateApp.DeviceType.PUMP' | translate}}</option>
                        <option value="FILTER">{{'gateApp.DeviceType.FILTER' | translate}}</option>
                        <option value="UVLAMP">{{'gateApp.DeviceType.UVLAMP' | translate}}</option>
                        <option value="UVCLARIFIER">{{'gateApp.DeviceType.UVCLARIFIER' | translate}}</option>
                        <option value="AIRPUMP">{{'gateApp.DeviceType.AIRPUMP' | translate}}</option>
                        <option value="OTHER">{{'gateApp.DeviceType.OTHER' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.deviceType?.dirty && editForm.controls.deviceType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.deviceType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondDevice.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="device.description" required/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gateApp.pondDevice.timestamp" for="field_timestamp">Timestamp</label>
                    <input type="number" class="form-control" name="timestamp" id="field_timestamp"
                        [(ngModel)]="device.timestamp" required/>
                    <div [hidden]="!(editForm.controls.timestamp?.dirty && editForm.controls.timestamp?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.timestamp?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.timestamp?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
