<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="device">
            <h2><span jhiTranslate="gateApp.pondDevice.detail.title">Device</span> {{device.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gateApp.pondDevice.deviceName">Device Name</span></dt>
                <dd>
                    <span>{{device.deviceName}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondDevice.deviceType">Device Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'gateApp.DeviceType.' + device.deviceType}}">{{device.deviceType}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondDevice.description">Description</span></dt>
                <dd>
                    <span>{{device.description}}</span>
                </dd>
                <dt><span jhiTranslate="gateApp.pondDevice.timestamp">Timestamp</span></dt>
                <dd>
                    <span>{{device.timestamp}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/device-my-suffix', device.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
